<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/css/materialize.min.css">
<%= javascript_include_tag "http://code.jquery.com/jquery-2.1.2.min.js" %>

<%= javascript_include_tag 'http://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js' %>

</head>
<body>

<div class='container'>

<div class="col s12 m8">
<div class="card hoverable" style="margin:5% 0 5% 0">
    <div class="card-action blue lighten-1 white-text">
        <h5 style="text-align:center">Bids on your events</h5>
    </div>
    <div class="card-panel" style="overflow:scroll">
    <table border=1 class='highlight'>


    <thead>
    <h5>You have <%= @bids.count %> 
    <% if @bids.count == 1 %>
    bid
    <% else %>
    bids
    <% end %>
    on "<%= @event.event %>"
    </h5>
        <tr>
            <td>Event</td>
            <td>Photographer</td>
            <td>Rating</td>
            <td>Date of Bid</td>
            <td>Option</td>

        </tr>
    </thead>
        <tbody>
            <% @bids.each do |bid| %>
                <tr>
                <td><%= @event.event %></td>
                <td><a href='/creators/<%=bid.creator.id%>'><%= bid.creator.first_name %> <%= bid.creator.last_name %></a></td>
                <td>
            <% if bid.creator.reviews.length == 0 %>
                    No ratings yet
                <% elsif bid.creator.reviews.average(:rating) == 5 %>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                <% elsif bid.creator.reviews.average(:rating) == 4.5 %>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">half_star</i>
                <% elsif bid.creator.reviews.average(:rating) == 4 %>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>              
                    <i class="material-icons">star_border</i>         
                <% elsif bid.creator.reviews.average(:rating) == 3.5 %>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star_half</i>           
                    <i class="material-icons">star_border</i>        
                <% elsif bid.creator.reviews.average(:rating) == 3 %>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star_border</i>         
                    <i class="material-icons">star_border</i>         
                <% elsif bid.creator.reviews.average(:rating) == 2.5 %>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star_half</i>
                    <i class="material-icons">star_border</i>         
                    <i class="material-icons">star_border</i>         
                <% elsif bid.creator.reviews.average(:rating) == 2 %>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star_border</i> 
                    <i class="material-icons">star_border</i>         
                    <i class="material-icons">star_border</i>         
                <% elsif bid.creator.reviews.average(:rating) == 1.5 %>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star_half</i>
                    <i class="material-icons">star_border</i> 
                    <i class="material-icons">star_border</i>         
                    <i class="material-icons">star_border</i>         
                <% elsif bid.creator.reviews.average(:rating) == 1 %>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star_border</i> 
                    <i class="material-icons">star_border</i> 
                    <i class="material-icons">star_border</i>         
                    <i class="material-icons">star_border</i>         
                <% elsif bid.creator.reviews.average(:rating) == 0.5 %>
                    <i class="material-icons">star_half</i>
                    <i class="material-icons">star_border</i> 
                    <i class="material-icons">star_border</i> 
                    <i class="material-icons">star_border</i>         
                    <i class="material-icons">star_border</i>         
                <% elsif bid.creator.reviews.average(:rating) == 0.0 %>
                    <i class="material-icons">star_border</i> 
                    <i class="material-icons">star_border</i> 
                    <i class="material-icons">star_border</i> 
                    <i class="material-icons">star_border</i>
                    <i class="material-icons">star_border</i>         
                <% end %>
            </td>
                <td><%= bid.created_at.strftime('%B %e, %Y') %></td>

            <td>
            <% if @bookings.where(bid_id:bid.id).any? %>
                Event booked
            <% else %>
                <form action='/bookings/<%= bid.id %>' method='POST'>
                    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
                    <button class="btn-medium waves-effect teal waves-light btn" type="submit" name="action">Accept</button>
                </form>
                </td>
                </tr>
                <% end %>
            <% end %>
        </tbody>
    </table><br><br>
</div>
</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

<script>
$(document).ready(function(){
    $('select').material_select();
});

  $(document).ready(function(){
    $('.modal').modal();
  });
        

</script>
</body>
</html>