<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/css/materialize.min.css">
<%= javascript_include_tag "http://code.jquery.com/jquery-2.1.2.min.js" %>

<%= javascript_include_tag 'http://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js' %>


<style>
</style>
</head>
<body>

<div class='container'>

<div class="col s12 m8">
<div class="card hoverable" style="margin:5% 0 5% 0">
    <div class="card-action blue lighten-1 white-text">
        <h5 style="text-align:center">Your Booked Events</h5>
    </div>
    <div class="card-panel" style="overflow:scroll">
    
<% if current_user = session[:user_id] %>

<h6>You Have <%= @bookings.count %> Event Booked</h6><br>

<table class='highlight'>
<thead>
<tr style="font-weight:9000">
    <td>Event</td>
    <td>Photographer</td>
    <td>Date</td>
    <td>Location</td>
    <td>Time</td>
</tr>
</thead>
<tbody>

<tr>
    <% @bookings.each do |booking| %>
        <td><%= booking.bid.event.event %></td>
        <td><a href="/creators/<%= booking.bid.creator.id %>"><%= booking.bid.creator.first_name %> <%= booking.bid.creator.last_name %></a></td>
        <td><%= booking.bid.event.date.strftime('%b %e, %Y') %></td>
        <td><%= booking.bid.event.location %></td>
        <td><%= booking.bid.event.starttime.strftime('%I:%M %p') %> - <%= booking.bid.event.endtime.strftime('%I:%M %p') %></td>
    <% end %>
</tr>
</tbody>
</table>


<% else %>

<h6>You Have <%= @bookings.count %> Event Booked</h6><br>

<table class='highlight'>
<thead>
<tr style="font-weight:9000">
    <td>Event</td>
    <td>Client</td>
    <td>Date</td>
    <td>Location</td>
    <td>Time</td>
</tr>
</thead>
<tbody>

    <% @bookings.each do |booking| %>
        <tr>
        <td><%= booking.bid.event.event %></td>
        <td><a href="/users/<%= booking.bid.event.user_id %>"><%= booking.bid.event.user.first_name %> <%= booking.bid.event.user.last_name %></a></td>
        <td><%= booking.bid.event.date.strftime('%b %e, %Y') %></td>
        <td><%= booking.bid.event.location %></td>
        <td><%= booking.bid.event.starttime.strftime('%I:%M %p') %> - <%= booking.bid.event.endtime.strftime('%I:%M %p') %></td>
        </tr>
    <% end %>
</tbody>
</table>

<% end %>

</div>
</div>
</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

<script>
$(document).ready(function(){
    $('select').material_select();
});

  $(document).ready(function(){
    $('.modal').modal();
  });
        

</script>
</body>
</html>