<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/css/materialize.min.css">
<%= javascript_include_tag "http://code.jquery.com/jquery-2.1.2.min.js" %>

<%= javascript_include_tag 'http://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js' %>
<script
src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>

<body>

<div class="container">

<div class="col s12 m8" style="margin: 5% 0 5% 0">
<div class="card hoverable">
    <div class="card-action blue lighten-1 white-text">
        <h5 style="text-align:center">Find A Photographer</h5>
    </div>
    <div class="card-panel" style="overflow:scroll">

<table border=1 class='highlight'>
<thead>
<tr style="font-weight:9000">
    <td>Name</td>
    <td>Portfolio</td>
    <td>Member since</td>
    <td>Reviews</td>
    <td>Rating</td>
</tr>
</thead>
<tbody>
    <tr>
        <% @creators.each do |creator| %>
            <td><a href='/creators/<%= creator.id %>'><%= creator.first_name %> <%= creator.last_name %></a></td>
            <td><%= creator.portfolio %></td>
            <td><%= creator.created_at.strftime('%B %e, %Y') %></td>
            <td><%= creator.reviews.length %></td>
            <td>
            <% if creator.reviews.length == 0 %>
                    No ratings yet
                <% elsif creator.reviews.average(:rating) == 5 %>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    
                <% elsif creator.reviews.average(:rating) == 4.5 %>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">half_star</i>

                <% elsif creator.reviews.average(:rating) == 4 %>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>                    
                    <i class="material-icons">star_border</i>                    
                <% elsif creator.reviews.average(:rating) == 3.5 %>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star_half</i>                    
                    <i class="material-icons">star_border</i>                    
                <% elsif creator.reviews.average(:rating) == 3 %>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star_border</i>                    
                    <i class="material-icons">star_border</i>                    
                <% elsif creator.reviews.average(:rating) == 2.5 %>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star_half</i>
                    <i class="material-icons">star_border</i>                   
                    <i class="material-icons">star_border</i>                    
                <% elsif creator.reviews.average(:rating) == 2 %>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star_border</i> 
                    <i class="material-icons">star_border</i>                   
                    <i class="material-icons">star_border</i>                    
                <% elsif creator.reviews.average(:rating) == 1.5 %>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star_half</i>
                    <i class="material-icons">star_border</i> 
                    <i class="material-icons">star_border</i>                  
                    <i class="material-icons">star_border</i>                    
                <% elsif creator.reviews.average(:rating) == 1 %>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star_border</i> 
                    <i class="material-icons">star_border</i> 
                    <i class="material-icons">star_border</i>                   
                    <i class="material-icons">star_border</i>                    
                <% elsif creator.reviews.average(:rating) == 0.5 %>
                    <i class="material-icons">star_half</i>
                    <i class="material-icons">star_border</i> 
                    <i class="material-icons">star_border</i> 
                    <i class="material-icons">star_border</i>                    
                    <i class="material-icons">star_border</i>                    
                <% elsif creator.reviews.average(:rating) == 0.0 %>
                    <i class="material-icons">star_border</i> 
                    <i class="material-icons">star_border</i> 
                    <i class="material-icons">star_border</i> 
                    <i class="material-icons">star_border</i>
                    <i class="material-icons">star_border</i>                    
                <% end %>
            </td>
        </tr>
        <% end %>
</tbody>
</table><br><br>
</div>
</div>
</div>
</div>
</body>
</html>