<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>            

<main>       
<div class="container">
<div class="user_registration_form">
<div class="col s6 m6">
<div class="card hoverable" style="margin:5% 0 5% 0">
    <div class="card-action teal lighten-1 white-text">
    <h5 style="text-align:center">Edit Your Profile</h5>
    </div>
<div class="card-content">
        <form action='/users/<%=current_user.id%>' method='POST'>
        <input type='hidden' name="_method" value="patch">
        <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
            First Name: <input name="first_name" type="text" class='validate' placeholder=<%= current_user.first_name %>>

            Last Name:
            <input name="last_name" type="text" class='validate' placeholder=<%= current_user.last_name %>>

            Email Address:
            <input name="email" type="email" class='validate' placeholder=<%= current_user.email %>>

            <input type="password" name='password' class='validate' placeholder='Password'>

            <input type="password" name='password_confirmation' class='validate' placeholder='Retype password'>

            <br><br>

            <button class="btn-large waves-effect teal waves-dark"  type="submit">Update Profile<i class="material-icons right">send</i></button>
        </form>
</div>
</div>
</div>
</div>
</div>

</main>