<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<style>
.container {
    width: 1200px;
    height: 200px;
    margin-left:100px;
}

.col.s12 {
    width:600px;
    height:650px;
    display:inline-block;
    margin-left: 14%;
    margin-top: 0%;
}

#option {
    display:inline-block;
    vertica-align:top;
    margin: 0px;
}
</style>
</head>

<body>
<% if flash[:messages] %>
    <% flash[:messages].each do |m| %>
        <p> <%= m %> </p>
    <% end %>
<% end %>

<div class ='navbar-fixed'>
    <nav class ='blue'>
        <div class='container'>
            <div class='nav-wrapper'>
                <a href='/' class='brand-logo'>Frame</a>
                <a href='#' data-target='mobile-nav' class='sidenav-trigger'>
                    <i class='material-icons'>menu</i></a>
                    <ul class='right hide-on-med-and-down'>
                        <li><a href='#Profile'>About</a></li>
                        <li><a href='#Contact'>Contact</a></li>
                    </ul>
            </div>
        </div>
    </nav>
</div>
<ul class='sidenav' id='mobile-nav'>
    <li><a href='#home'>Home</a></li>
    <li><a href='#Dashboard'>Dashboard</a></li>
    <li><a href='#Profile'>Profile</a></li>
    <li><a href='#Contact'>Contact</a></li>
</ul>


<div class="parallax-container">
      <div class="parallax"><img src="https://images.pexels.com/photos/881633/pexels-photo-881633.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"></div>
</div>

<div class='container'>
<h3><%= flash[:messages] %></h3>

<form action='/sessions/create' method='POST'>
    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>

    <div class="row">
        <div class="col s12 m4 offset-m4">
            <div class="card">
                <div class="card-action blue lighten-1 white-text">
                    <h3>Login</h3>
                </div>

                <div class="card-content">

                    <div class="form-field">
                        <label for="email">Email</label>
                        <input type="text" id="email">
                    </div><br>

                    <div class="form-field">
                        <label for="password">Password</label>
                        <input type="password" id="password">
                    </div><br>

                    <div class="form-field">
                        <button type="submit" class="btn-large waves-effect waves-dark" style="width:100%">Login</button>
                    </div><br>
                    
                </div>

            </div>
        </div>
    </div>
</form>

    <div id='option'>
        <h5>Not signed up yet? Register here</h5>
            <a href='/users/new'>I'm a User</a><br>
            <a href='/creators/new'>I'm a Creator</a>
    </div>

</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

<script>
//Sidenav
const sideNav = document.querySelector('.sidenav');
M.Sidenav.init(sideNav, {});

//Slider
const slider = document.querySelector('.slider');
M.Slider.init(slider, {
    indicators: false,
    height: 500,
    transition: 500,
    interval: 4000,
});    

//Parallax
const elem = document.querySelector('.parallax');
M.Parallax.init(elem, {});

</script>
</body>
</html>




