<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>


<style>
main {
    background-image:none;
}

.user_registration_form {
    display:none;
}

.photographer_registration_form {
    display:none;
}

</style>

<script>
$(document).ready(function(){
    $(".user_registration_button").click(function(){
        $(".signup_form").hide();
        $(".photographer_registration_form").hide();
        $(".user_registration_form").show();
    });

    $(".photographer_registration_button").click(function(){
        $(".signup_form").hide();
        $(".user_registration_form").hide();
        $(".photographer_registration_form").show();
    });
});
</script>
</head>

<body>
<main>
<section class="slider">
    <ul class="slides">
        <li>
            <img src="https://images.unsplash.com/photo-1497296690583-da0e2a4ce49a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cec4f7880b7bb1ee4cf1ac8b417a10a9&auto=format&fit=crop&w=1350&q=80">
                <div class="caption center-align">
                    <h3 >Welcome to Frame</h3>
                    <h5 class="light grey-text text-lighten-3 hide-on-small-only">Find a photographer for any occasion</h5><br>
                    <a href="#" class="btn blue btn-medium">Learn More</a>
                </div>
        </li>

        <li>
            <img src="https://images.pexels.com/photos/18396/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
                <div class="caption left-align">
                    <h3>Engagement Photos</h3>
                    <h5>Capture those magical moments</h5><br>
                    <a href="#" class="btn blue btn-medium">Learn More</a>
                </div>
        </li>

        <li>
             <img src="https://images.unsplash.com/photo-1482731910308-31e96e5d1d28?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5cc2cfef0ef44ed6ccb3e17a36e40c1c&auto=format&fit=crop&w=1350&q=80">
                <div class="caption left-align">
                    <h3>Birthdays</h3>
                    <h5>Every year counts</h5><br>
                    <a href="#" class="btn blue btn-medium">Learn More</a>
                </div>
        </li>

        <li>
            <img src="https://images.unsplash.com/photo-1427097829427-56a905bf7004?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=949899c0a2c8a5cc3d5070851b27ff68&auto=format&fit=crop&w=1350&q=80">
                <div class="caption right-align">
                    <h3>Family Vacations</h3>
                    <h5>Don't miss a second</h5><br>
                    <a href="#" class="btn blue btn-medium">Learn More</a>
                </div>
        </li>
    </ul>
</section>


<div class='container'>

    <section class="section section-icons lighten-4 center">
        <div class="container" style="width:100%; margin-top:3%">
        <div class="row">
        <h4>3 Easy Steps</h4>
            <div class="col s12 m4">
            <div class="card-panel">
                <i class="material-icons large blue-text">cloud_upload</i>
                <h5>1. Submit</h5>
                <p>Submit an event and receive bids</p>
            </div>
            </div>
            <div class="col s12 m4">
            <div class="card-panel">
                <i class="material-icons large blue-text">person_add</i>
                <h5>2. Select</h5>
                <p>Pick a photographer from the list of bids</p>
            </div>
            </div>
            <div class="col s12 m4">
            <div class="card-panel">
                <i class="material-icons large blue-text">check_box</i>
                <h5>3. Book</h5>
                <p>Confirm the event with the photographer</p>
            </div>
            </div>
        </div>
        </div>
    </section>

<div class="row">

    <div id="login" class="scrollspy">

        <div class="col s12 m6" style="margin-bottom:5%">
            <div class="card hoverable">

                <div class="card-action blue lighten-1 white-text">
                    <h4 style="text-align:center">Login</h4>
                </div>

                    <div class="card-content">

                        <form action='/sessions/create' method='POST'>
                        <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
                        <div class="form-field">
                            <label for="email">Email</label>
                            <input name="email" type="text" class="validate">
                        </div><br>

                        <div class="form-field">
                            <label for="password">Password</label>
                            <input type="password" name="password" class="validate">
                        </div><br>

                        <div class="form-field">
                            <button type="submit" class="btn-large waves-effect blue waves-dark" style="width:100%">Login</button>
                        </div><br><br>
                        </form>
                    </div>

            </div>
        </div>

        <div class="signup_form">
            <div class="col s12 m6">
                <div class="card hoverable">
                    <div class="card-action blue lighten-1 white-text">
                        <h4 style="text-align:center">Sign Up</h4>
                    </div>
                        <div class="card-content">
                            <div class="user_registration_button" style="text-align:center"><button class="waves-effect blue waves-light btn"><i class="material-icons left">person</i>I'm a User</button></div><br>
                            <div class="photographer_registration_button" style="text-align:center"><button class="waves-effect blue waves-light btn"><i class="material-icons left">local_see</i>I'm a Photographer</button></div>
                        </div>
                </div>
            </div>
        </div>

<div class="user_registration_form">
<div class="col s12 m6">
<div class="card">
    <div class="card-action blue lighten-1 white-text">
    <h5 style="text-align:center">User Registration</h5>
    </div>
<div class="card-content">
        <form action='/users/create' method='POST'>
        <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>

            <input name="first_name" type="text" class='validate' placeholder='First name'>

            <input name="last_name" type="text" class='validate' placeholder='Last name'>

            <input name="email" type="email" class='validate' placeholder='Email address'>

            <input name="location" type="text" class='validate' placeholder='City'>

            <input type="password" name='password' class='validate' placeholder='Password'>

            <input type="password" name='password_confirmation' class='validate' placeholder='Retype password'>

            <button class="btn-large waves-effect blue waves-dark" style="width:100%" type="submit">Sign Up<i class="material-icons right">send</i></button>
        </form><br>
        <div class="photographer_registration_button"><button class="btn-medium waves-effect blue waves-light btn">Sign Up As A Photographer</button></div>
</div>
</div>
</div>
</div>


<div class="photographer_registration_form">
<div class="col s12 m6">
<div class="card">
    <div class="card-action blue lighten-1 white-text">
    <h5 style="text-align:center">Photographer Registration</h5>
    </div>
<div class="card-content">
        <form action='/creators/create' method='POST'>
        <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>

            <input name="first_name" type="text" class='validate' placeholder='First name'>

            <input name="last_name" type="text" class='validate' placeholder='Last name'>

            <input name="email" type="email" class='validate' placeholder='Email address'>

            <input name="location" type="text" class='validate' placeholder='Location'>

            <input name="portfolio" type="text" class='validate' placeholder='Instagram handle'>

            <input name="info" type="text" class='validate' placeholder='Write a short sentence about yourself'>

            <input type="password" name='password' class='validate' placeholder='Password'>

            <input type="password" name='password_confirmation' class='validate' placeholder='Retype password'>

            <button class="btn-large waves-effect blue waves-dark" style="width:100%" type="submit">Sign Up<i class="material-icons right">send</i></button>
        </form><br>
        <div class="user_registration_button"><button class="btn-medium waves-effect blue waves-light btn">Sign Up As A User</button></div>
</div>
</div>
</div>
</div>

</div>

</div>

</div>
</main>


<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

<script>

//Sidenav
const sideNav = document.querySelector('.sidenav');
M.Sidenav.init(sideNav, {});

//Slider
const slider = document.querySelector('.slider');
M.Slider.init(slider, {
    indicators: false,
    height: 500,
    transition: 4000,
    interval: 4000,
});    

//Parallax
const elem = document.querySelector('.parallax');
M.Parallax.init(elem, {});

//Scrollspy
const ss = document.querySelectorAll('.scrollspy');
M.ScrollSpy.init(ss, {});

</script>
</body>
</html>
