<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

<script
src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>


<style>
.card-content {
    font-size:2px;
}

.photographer_login {
    display:none;
}

</style>
</head>

<body>

<% if flash[:messages] %>
    <% flash[:messages].each do |m| %>

        <li> <%= m %> </li>

    <% end %>
<% end %>

<div class="row">

<div class="col s12 m4 offset-m4">
<div class="user_login">
<div class="card">
<div class="card-content">
    <div class="card-action blue lighten-1 white-text">
    <h5 style="text-align:center">Sign Up As A User</h5>
    </div>

        <form action='/users/create' method='POST'>
        <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
            <input value='User' name="type" type="text" class='validate'>

            <input name="first_name" type="text" class='validate' placeholder='First name'>

            <input name="last_name" type="text" class='validate' placeholder='Last name'>

            <input name="email" type="email" class='validate' placeholder='Email address'>

            <input type="password" name='password' class='validate' placeholder='Password'>

            <input type="password" name='password_confirmation' class='validate' placeholder='Retype password'>

            <button class="btn-large waves-effect blue waves-dark" style="width:100%" type="submit">Submit<i class="material-icons right">send</i></button>
        </form>
        <a href='/creators/new'>I'm a Creator</a>
</div>
</div>
</div>
</div>

<div class="col s12 m4 offset-m4">
<div class="photographer_login">
<div class="card">
<div class="card-content">
    <div class="card-action blue lighten-1 white-text">
    <h5 style="text-align:center">Sign Up As A User</h5>
    </div>

        <form action='/users/create' method='POST'>
        <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
            <input value='User' name="type" type="text" class='validate'>

            <input name="first_name" type="text" class='validate' placeholder='First name'>

            <input name="last_name" type="text" class='validate' placeholder='Last name'>

            <input name="email" type="email" class='validate' placeholder='Email address'>

            <input type="password" name='password' class='validate' placeholder='Password'>

            <input type="password" name='password_confirmation' class='validate' placeholder='Retype password'>

            <button class="btn-large waves-effect blue waves-dark" style="width:100%" type="submit">Submit<i class="material-icons right">send</i></button>
        </form>
</div>
</div>
</div>
</div>

</div>

<script>
const sideNav = document.querySelector('.sidenav');
M.Sidenav.init(sideNav, {});
</script>
</body>
</html>