<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/css/materialize.min.css">
<%= javascript_include_tag "http://code.jquery.com/jquery-2.1.2.min.js" %>

<%= javascript_include_tag 'http://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js' %>

<script>
  $(document).ready(function(){
    $('.modal').modal();
  });
</script>

<style>
.top-row {
background: rgb(247,118,118);
background: linear-gradient(90deg, rgba(247,118,118,1) 0%, rgba(245,164,164,1) 100%, rgba(121,9,9,1) 100%);
height:150px;
}
</style>
</head>

<body>
<div class='container'>

<%# Viewing your own profile %>
<% if current_user = session[:user_id] %>

<div class="row" style="margin:5% 0 5% 0">

<%# Card 1 %>      
    <div class="col s12 m4">
        <div class="top-row card red lighten-2 hoverable">
            <div class="card-content white-text">
                <span class="card-title activator" style="text-align:center"><h5>Welcome, <%= @user.first_name %>!</h5><i class="material-icons right">more_vert</i></span>
                <br>
            </div>
        <div class="card-reveal">
            <span class="card-title" style="font-size:15px">Member since <%= @user.created_at.strftime('%B %e, %Y') %><i class="material-icons right">close</i></span>
            <p>Location: <%= @user.location %> </p>
            <p>Email: <%= @user.email %> </p>
        </div>
    </div>
        <a class="blue waves-light btn modal-trigger" style="display:block;text-align:center" href=#modal2><i class="material-icons left">subdirectory_arrow_right</i>Submit an Event</a>
    </div>

<%# Card 2 %>
<div class="col s12 m4">
    <div class="top-row card red lighten-2 hoverable">
        <div class="card-content white-text">
        <h5 style="text-align:center">Reviews</h5>
        <p style="text-align:center">You have <%= @reviews.count %> reviews</p>
        </div>
    </div>
            <a class="blue waves-light btn" style="display:block;text-align:center" href="/reviews/<%= @user.id %>"><i class="material-icons left">insert_comment</i>Your reviews</a>
</div>

<%# Card 3 %>
<div class="col s12 m4">
    <div class="top-row card red lighten-2 hoverable">
        <div class="card-content white-text">
            <h5 style="text-align:center">Rating</h5>
            <div style="text-align:center">
                <% if @reviews.length == 0 %>
                    No ratings yet
                <% elsif @reviews.average(:rating) == 5 %>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                <% elsif @reviews.average(:rating) == 4.5 %>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">half_star</i>
                <% elsif @reviews.average(:rating) == 4 %>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>                
                    <i class="material-icons">star_border</i>          
                <% elsif @reviews.average(:rating) == 3.5 %>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star_half</i>           
                    <i class="material-icons">star_border</i>            
                <% elsif @reviews.average(:rating) == 3 %>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star_border</i>         
                    <i class="material-icons">star_border</i>                    
                <% elsif @reviews.average(:rating) == 2.5 %>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star_half</i>
                    <i class="material-icons">star_border</i>         
                    <i class="material-icons">star_border</i>                    
                <% elsif @reviews.average(:rating) == 2 %>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star_border</i> 
                    <i class="material-icons">star_border</i>         
                    <i class="material-icons">star_border</i>                    
                <% elsif @reviews.average(:rating) == 1.5 %>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star_half</i>
                    <i class="material-icons">star_border</i> 
                    <i class="material-icons">star_border</i>         
                    <i class="material-icons">star_border</i>                    
                <% elsif @reviews.average(:rating) == 1 %>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star_border</i> 
                    <i class="material-icons">star_border</i> 
                    <i class="material-icons">star_border</i>         
                    <i class="material-icons">star_border</i>                    
                <% elsif @reviews.average(:rating) == 0.5 %>
                    <i class="material-icons">star_half</i>
                    <i class="material-icons">star_border</i> 
                    <i class="material-icons">star_border</i> 
                    <i class="material-icons">star_border</i>         
                    <i class="material-icons">star_border</i>                    
                <% elsif @reviews.average(:rating) == 0.0 %>
                    <i class="material-icons">star_border</i> 
                    <i class="material-icons">star_border</i> 
                    <i class="material-icons">star_border</i> 
                    <i class="material-icons">star_border</i>
                    <i class="material-icons">star_border</i>                    
                <% end %>
            </div>
        </div>
    </div>
            <a class="blue waves-light btn" style="display:block;text-align:center" href="/bookings/<%= @user.id %>"><i class="material-icons left">insert_comment</i>Your booked events</a>
</div>


</div>

<%# Main Card %>
<div class="col s12 m8">
<div class="card hoverable" style="margin:5% 0 5% 0">
    <div class="card-action blue lighten-1 white-text" style="margin:5% 0 5% 0">
        <h5 style="text-align:center">Your Events</h5>
    </div>
    <div class="card-panel" style="overflow:scroll">
    <table border=1 class='highlight'>
    <thead>
    <tr>
        <td>Event</td>
        <td>Date</td>
        <td>Location</td>
        <td>Budget</td>
        <td>Notes</td>
        <td>Bids</td>
        <td>Action</td>
    </tr>
    </thead>
    <tbody>
        <% @events.each do |event| %>
            <tr>
            <td><%= event.event %></td>
            <td><%= event.date.strftime('%b %e, %Y') %></td>
            <td><%= event.location %></td>
            <td><%= event.price %></td>
            <td><%= event.notes %></td>
            <td>
            <% if event.bids.count == 0 %>
                No bids
            <% elsif @bookings.where(event:event).any? %>
                Booked
            <% elsif event.bids.count > 0 %>
                <a class="waves-light btn modal-trigger" href="/bids/<%= event.id %>"><%= event.bids.count %></a></td>
            <% end %>
            <td><a class="waves-light btn modal-trigger red lighten-2" href='/events/<%= event.id %>'data-method='delete'>Delete</a></td>
            </tr>
    </tbody>
    <% end %>
    </table><br><br>
</div>
</div>
</div>
</div>


<%# When a Photographer views a user %>
<% else %>

<div class="row" style="margin:5% 0 5% 0">
          
    <div class="col s12 m4">
        <div class="card red lighten-2 hoverable">
            <div class="card-content white-text">
                <span class="card-title activator"><%= @user.first_name %> <%= @user.last_name %><a class="btn-floating pulse halfway-fab"><i class="material-icons">menu</i></a>
                </span>
                <h6>
                    <% if @reviews.length == 0 %>
                        No ratings yet
                    <% elsif @reviews.average(:rating) == 5 %>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                    <% elsif @reviews.average(:rating) == 4.5 %>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">half_star</i>
                    <% elsif @reviews.average(:rating) == 4 %>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>                    
                        <i class="material-icons">star_border</i>                    
                    <% elsif @reviews.average(:rating) == 3.5 %>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star_half</i>                    
                        <i class="material-icons">star_border</i>                    
                    <% elsif @reviews.average(:rating) == 3 %>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star_border</i>                    
                        <i class="material-icons">star_border</i>                    
                    <% elsif @reviews.average(:rating) == 2.5 %>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star_half</i>
                        <i class="material-icons">star_border</i>                   
                        <i class="material-icons">star_border</i>                    
                    <% elsif @reviews.average(:rating) == 2 %>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star_border</i> 
                        <i class="material-icons">star_border</i>                   
                        <i class="material-icons">star_border</i>                    
                    <% elsif @reviews.average(:rating) == 1.5 %>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star_half</i>
                        <i class="material-icons">star_border</i> 
                        <i class="material-icons">star_border</i>                  
                        <i class="material-icons">star_border</i>                    
                    <% elsif @reviews.average(:rating) == 1 %>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star_border</i> 
                        <i class="material-icons">star_border</i> 
                        <i class="material-icons">star_border</i>                   
                        <i class="material-icons">star_border</i>                    
                    <% elsif @reviews.average(:rating) == 0.5 %>
                        <i class="material-icons">star_half</i>
                        <i class="material-icons">star_border</i> 
                        <i class="material-icons">star_border</i> 
                        <i class="material-icons">star_border</i>                    
                        <i class="material-icons">star_border</i>                    
                    <% elsif @reviews.average(:rating) == 0.0 %>
                        <i class="material-icons">star_border</i> 
                        <i class="material-icons">star_border</i> 
                        <i class="material-icons">star_border</i> 
                        <i class="material-icons">star_border</i>                     
                        <i class="material-icons">star_border</i>                    
                    <% end %>
                </h6><br>
                <p><i>Member since <%= @user.created_at.strftime('%B %e, %Y') %></i></p><br>
                <p>Location: <%= @user.location %></p><br>
                <p>
                <a class="waves-light btn" href='/reviews/<%=@user.id%>/new'><i class="material-icons left">cloud</i>Write a review</a>
                </p>
            </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">About <%=@user.first_name%><i class="material-icons right">close</i></span>
        </div>
    </div>
</div>

<div class="col s12 m8">
<div class="card hoverable">
    <div class="card-action blue lighten-1 white-text">
        <h5 style="text-align:center"><%= @user.first_name %>'s Reviews</h5>
    </div>
    <div class="card-panel" style="overflow:scroll" style="height:100px">

    <% if @reviews.length == 0 %>
        <i>Be the first to <a href="/reviews/<%= @user.id %>/new">write <%= @user.first_name %> a review.</a></i>

    <% else %>
        <% @reviews.each do |review| %>
            <p><%= review.created_at.strftime('%B %e, %Y at %I:%M %p') %>
                <span style="float:right; text-align:right">
                <% if review.creator_id == session[:creator_id] %>
                    <a href="#" class="collection-item"><span class="badge"></span>Edit</a> |
                    <a href="#" class="collection-item"><span class="badge"></span>Delete</a>
                <% end %>
                </span></p>
            <h6><%= review.written_by %> says: </h6>
            <p><i><%= review.content %></i></p>
            <p> <% if @reviews.length == 0 %>
                        No ratings yet
                    <% elsif @reviews.average(:rating) == 5 %>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                    <% elsif @reviews.average(:rating) == 4.5 %>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">half_star</i>
                    <% elsif @reviews.average(:rating) == 4 %>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>                    
                        <i class="material-icons">star_border</i>                    
                    <% elsif @reviews.average(:rating) == 3.5 %>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star_half</i>                    
                        <i class="material-icons">star_border</i>                    
                    <% elsif @reviews.average(:rating) == 3 %>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star_border</i>                    
                        <i class="material-icons">star_border</i>                    
                    <% elsif @reviews.average(:rating) == 2.5 %>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star_half</i>
                        <i class="material-icons">star_border</i>                   
                        <i class="material-icons">star_border</i>                    
                    <% elsif @reviews.average(:rating) == 2 %>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star_border</i> 
                        <i class="material-icons">star_border</i>                   
                        <i class="material-icons">star_border</i>                    
                    <% elsif @reviews.average(:rating) == 1.5 %>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star_half</i>
                        <i class="material-icons">star_border</i> 
                        <i class="material-icons">star_border</i>                  
                        <i class="material-icons">star_border</i>                    
                    <% elsif @reviews.average(:rating) == 1 %>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star_border</i> 
                        <i class="material-icons">star_border</i> 
                        <i class="material-icons">star_border</i>                   
                        <i class="material-icons">star_border</i>                    
                    <% elsif @reviews.average(:rating) == 0.5 %>
                        <i class="material-icons">star_half</i>
                        <i class="material-icons">star_border</i> 
                        <i class="material-icons">star_border</i> 
                        <i class="material-icons">star_border</i>                    
                        <i class="material-icons">star_border</i>                    
                    <% elsif @reviews.average(:rating) == 0.0 %>
                        <i class="material-icons">star_border</i> 
                        <i class="material-icons">star_border</i> 
                        <i class="material-icons">star_border</i> 
                        <i class="material-icons">star_border</i>                     
                        <i class="material-icons">star_border</i>                    
                    <% end %></p>
            <hr>
        <% end %>
    <% end %>
    </div>
</div>
</div>
</div>

<% end %>

<%# Modal - Submit An Event %>
<div id="modal2" class="modal">
<div class="modal-content">
<div class="row">
<div class="col s12 m12">
<div class="card">
<div class="card-content">
<form action='/events/create' method='POST'>
<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
    <div class="card-action blue lighten-1 white-text">
    <h5 style="text-align:center">Submit an Event</h5>
    </div>
        <h6>Event</h6>
           <input type="text" name='event' placeholder='Describe the event'>
        <br>

        <h6>Location</h6>
        <input type="text" name='location' placeholder='Describe the location'>
        <br>

        <h6>Date</h6>
            <input type="text" name='date' class="datepicker" placeholder='Pick a date'>
            <br>

        <h6>Start Time</h6>
            <input type="text" name ='starttime' class="timepicker" placeholder='Pick a start time'>
            <br>

        <h6>End Time</h6>
            <input type="text" name ='endtime' class="timepicker" placeholder='Pick an end time'>
            <br>

        <h6>Budget</h6>
              <input type="text" name='price' placeholder="What's the most you're willing to spend?">
        <br>

        <h6>Additional Notes</h6>
            <input type="text" name='notes' placeholder='Provide some details'>
        <br>

    <button class="btn-large blue waves-dark" style="width:100%" type="submit">Submit<i class="material-icons right">send</i></button>
    </div>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

<script>
$(document).ready(function(){
    $('select').material_select();
});

  $(document).ready(function(){
    $('.modal').modal();
  });
        
</script>

</body>
</html>