 <!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/css/materialize.min.css">
<%= javascript_include_tag "http://code.jquery.com/jquery-2.1.2.min.js" %>

<%= javascript_include_tag 'http://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js' %>
 

<div clas='container'>
<script>
$(document).ready(function(){
    $('select').material_select();

    $('.datepicker').datepicker();

    $('.timepicker').timepicker(
        autoClose: true,
        twelvehour: false,
        format:"HH:mm",
    );
  });
</script>

<style>
.card-content {
    font-size:2px;
}
</style>
</head>


<body>

<div class="row">
<div class="col s12 m4 offset-m4">
<div class="card">
<div class="card-content">
<form action='/events/create' method='POST'>
<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
    <div class="card-action blue lighten-1 white-text">
    <h5 style="text-align:center">Submit an Event</h5>
    </div>
        <h6>Event</h6>
           <input type="text" name='event' placeholder='Describe the event'>
        <br>

        <h6>Location</h6>
        <input type="text" name='location' placeholder='Describe the location'>
        <br>

        <h6>Date</h6>
            <input type="text" name='date' class="datepicker" placeholder='Pick a date'>
            <br>

        <h6>Start Time</h6>
            <input type="text" name ='startime' type="time" class="timepicker" placeholder='Pick a start time'>
            <br>

        <h6>End Time</h6>
            <input type="text" name ='endtime' type="time" class="timepicker" placeholder='Pick an end time'>
            <br>

        <h6>Budget</h6>
              <input type="text" name='budget' placeholder="What's the most you're willing to spend?">
        <br>

        <h6>Additional Notes</h6>
            <input type="text" name='notes' placeholder='Provide some details'>
        <br>

    <button class="btn-large waves-effect blue waves-dark" style="width:100%" type="submit">Submit<i class="material-icons right">send</i></button>
    </div>
</form>
</div>
</div>
</div>
</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

<script>

var elem = document.querySelector('.datepicker');
M.Datepicker.init(elem, {});

var elem = document.querySelector('.timepicker');
M.Timepicker.init(elem, {});

</script>

</body>
</html>