<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/css/materialize.min.css">
  <%= javascript_include_tag "http://code.jquery.com/jquery-2.1.2.min.js" %>

  <%= javascript_include_tag 'http://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js' %>

<style>

</style>
</head>
<body>
<div clas='container'>

<body>

<h5>My Profile</h5>

<h5>Rating</h5>

<h5>Reviews</h5>

<table border=1 class='highlight'>
<h5>Your Events</h5>
<thead>
<tr>
    <td>Event</td>
    <td>Bidders</td>
    <td>Rating</td>
</tr>
</thead>
<tbody>
    <% @bids.each do |bid| %>
        <tr>
        <td><%= bid.event.event %></td>
        <td><a href='/creators/<%= bid.creator.id %>'><%= bid.creator.first_name %> <%= bid.creator.last_name %></a></td>
        <td><%= bid.creator.rating %></td>
        </tr>
    <% end %>
</tbody>
</table><br><br>

</body>
</html>