<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/css/materialize.min.css">
<%= javascript_include_tag "http://code.jquery.com/jquery-2.1.2.min.js" %>

<%= javascript_include_tag 'http://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js' %>
<script
src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>

<body>

<div class="container">

<div class="col s12 m8">
<div class="card hoverable" style="margin: 5% 0 5% 0">
    <div class="card-action blue lighten-1 white-text">
        <h5 style="text-align:center">Browse Jobs</h5>
    </div>
    <div class="card-panel" style="overflow:scroll">

<table border=1 class='highlight'>
<thead>
<tr>
    <td>Event</td>
    <td>By</td>
    <td>Location</td>
    <td>Date</td>
    <td>Time</td>
    <td>Budget</td>
    <td>Bid</td>
</tr>
</thead>
<tbody>
    <% @events.each do |event| %>
        <tr>
        <td><%= event.event %></td>
        <td><a href='/users/<%=event.user.id%>'><%= event.user.first_name %> <%= event.user.last_name %></a></td>
        <td><%= event.location %></td>
        <td><%= event.date.strftime('%b %e, %Y') %></td>
        <td><%= event.starttime.strftime('%I:%M%p') %> - <%= event.endtime.strftime('%I:%M%p') %></td>
        <td><%= event.price %></td>
        
        <% if event.bids.where(creator:current_user).any? %>
            <form action='/bids/<%= event.id %>' method='POST'>
                <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
                <input type='hidden' name='_method' value='delete'>
                <td><button type='submit' style='background-color:pink'>Remove Bid</button></td>
            </form>
        <% else %>
            <form action='/bids/create/<%= event.id %>' method='POST'>
                <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
                <td><button type='submit' style='background-color:lightgreen'>Place Bid</button></td>
            </form>
        <% end %>
        </tr>
    <% end %>
</tbody>
</table><br><br>
</div>
</div>
</div>
</div>
</body>
</html>