<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/css/materialize.min.css">
  <%= javascript_include_tag "http://code.jquery.com/jquery-2.1.2.min.js" %>

  <%= javascript_include_tag 'http://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js' %>

<style>
.container {
    width: 1200px;
    height: 100px;
    display:inline-block;
    margin-left:100px;
}

.col.s12 {
    width:600px;
    height:650px;
    display:inline-block;
}

.request_form {
  width: 500px;
  margin: 10%;
}

.highlight {
    width:1000px;
    margin-left:5%;
}

h4 {
    margin-left:5%;
}
</style>
</head>
<body>
<div clas='container'>

<table border=1 class='highlight'>
<h4>Available Jobs</h4>
<thead>
<tr>
    <td>Event</td>
    <td>Budget</td>
    <td>Location</td>
    <td>Date</td>
    <td>Submitted By</td>
    <td>Bid</td>
</tr>
</thead>
<tbody>
    <% @events.each do |event| %>
        <tr>
        <td><%= event.event %> </td>
        <td><%= event.budget %></td>
        <td><%= event.location %></td>
        <td><%= event.date %></td>
        <td><a href='/users/<%=event.user.id%>'> <%= event.user.first_name %> <%= event.user.last_name %></a></td>
        <td><a href='/users/<%=event.user.id%>'>Bid</a></td>
        </tr>
    <% end %>
</tbody>
</table><br><br>
</body>
</html>