<h5>Your Portfolio<h5>

  <form action="/creators/:id" enctype="multipart/form-data" method="post">
    <input name="_method" type="hidden" value="put"/>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <div class="file-field input-field">
      <div class="btn">
        <span>File</span>
        <input type="file">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div> 
    </div>
    <button type='submit'>Upload image</button>
  </form>


<br><br>

<%= image_tag @creator.image.url(:medium) %>