<!DOCTYPE html>
  <html>
<head>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/css/materialize.min.css">
<%= javascript_include_tag "http://code.jquery.com/jquery-2.1.2.min.js" %>

<%= javascript_include_tag 'http://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js' %>
<script
src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1.0"/>


</head>

<body>

<% if flash[:messages] %>
    <% flash[:messages].each do |m| %>
        <p><%= m %> </p>
    <% end %>
<% end %>

<div class="row">
<div class="col s12 m4 offset-m4">
<div class="card">
<div class="card-content">
    <form action='/users/create' method='POST'>
    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
    <div class="card-action blue lighten-1 white-text">
    <h5 style="text-align:center">Sign Up As A Photographer</h5>
    </div>

        <input value='Creator' name="type" type="text" class='validate'>

        <input name="first_name" type="text" class='validate' placeholder='First name'>

        <input name="last_name" type="text" class='validate' placeholder='Last name'>

        <input name="email" type="email" class='validate' placeholder='Email address'>

        <input name="portfolio" type="text" class='validate' placeholder='Link to portfolio'>

        <input type="password" name='password' class='validate' placeholder='Password'>

        <input type="password" name='password_confirmation' class='validate' placeholder='Retype password'>

        <button class="btn-large waves-effect blue waves-dark" style="width:100%" type="submit">Submit<i class="material-icons right">send</i></button>
</form>
</div>
</div>
</div>
</div>
</div>


<script>
const sideNav = document.querySelector('.sidenav');
M.Sidenav.init(sideNav, {});

$(document).ready(function(){
  $('select').material_select();
});

$(document).ready(function() {
    $('input#input_text, textarea#textarea2').characterCounter();
});
     
</script>
</body>
</html>