<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/css/materialize.min.css">
<%= javascript_include_tag "http://code.jquery.com/jquery-2.1.2.min.js" %>

<%= javascript_include_tag 'http://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js' %>
<script
src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<style>
.top-row {
background: rgb(247,118,118);
background: linear-gradient(90deg, rgba(247,118,118,1) 0%, rgba(245,164,164,1) 100%, rgba(121,9,9,1) 100%);
height:150px;
}
</style>
</head>

<body>
<div class='container'>

<%# Viewing your own profile %>
<% if current_user = session[:creator_id] %>

<div class="row" style="margin-top:5%">

<%# Card 1%>
 <div class="col s12 m4">
        <div class="top-row card red lighten-2 hoverable">
            <div class="card-content white-text">
                <span class="card-title activator"><h5>Welcome, <%= @creator.first_name %>!</h5><i class="material-icons right">more_vert</i></span>
                <br>
            </div>
        <div class="card-reveal">
            <span class="card-title" style="font-size:15px">Member since <%= @creator.created_at.strftime('%B %e, %Y') %><i class="material-icons right">close</i></span>
            <p>Location: <%= @creator.location %></p>
            <p>Email: <%= @creator.email %> </p>
        </div>
    </div>
</div>

<%# Card 2 %>
<div class="col s12 m4">
    <div class="top-row card red lighten-2 hoverable">
        <div class="card-content white-text">
        <h5 style="text-align:center">Reviews</h5>
        <p style="text-align:center">You have <%= @reviews.count %> reviews</p>
        </div>
    </div>
            <a class="blue waves-light btn" style="display:block;text-align:center" href="/reviews/<%= @creator.id %>"><i class="material-icons left">insert_comment</i>See your reviews</a>
</div>


<%# Card 3 %>
<div class="col s12 m4">
    <div class="top-row card red lighten-2 hoverable">
        <div class="card-content white-text">
            <h5 style="text-align:center">Rating</h5>
            <div style="text-align:center">
                <% if @reviews.length == 0 %>
                    No ratings yet
                <% elsif @reviews.average(:rating) == 5 %>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                <% elsif @reviews.average(:rating) == 4.5 %>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">half_star</i>
                <% elsif @reviews.average(:rating) == 4 %>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>                    
                    <i class="material-icons">star_border</i>                    
                <% elsif @reviews.average(:rating) == 3.5 %>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star_half</i>                    
                    <i class="material-icons">star_border</i>                    
                <% elsif @reviews.average(:rating) == 3 %>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star_border</i>                    
                    <i class="material-icons">star_border</i>                    
                <% elsif @reviews.average(:rating) == 2.5 %>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star_half</i>
                    <i class="material-icons">star_border</i>                   
                    <i class="material-icons">star_border</i>                    
                <% elsif @reviews.average(:rating) == 2 %>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star_border</i> 
                    <i class="material-icons">star_border</i>                   
                    <i class="material-icons">star_border</i>                    
                <% elsif @reviews.average(:rating) == 1.5 %>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star_half</i>
                    <i class="material-icons">star_border</i> 
                    <i class="material-icons">star_border</i>                  
                    <i class="material-icons">star_border</i>                    
                <% elsif @reviews.average(:rating) == 1 %>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star_border</i> 
                    <i class="material-icons">star_border</i> 
                    <i class="material-icons">star_border</i>                   
                    <i class="material-icons">star_border</i>                    
                <% elsif @reviews.average(:rating) == 0.5 %>
                    <i class="material-icons">star_half</i>
                    <i class="material-icons">star_border</i> 
                    <i class="material-icons">star_border</i> 
                    <i class="material-icons">star_border</i>                    
                    <i class="material-icons">star_border</i>                    
                <% elsif @reviews.average(:rating) == 0.0 %>
                    <i class="material-icons">star_border</i> 
                    <i class="material-icons">star_border</i> 
                    <i class="material-icons">star_border</i> 
                    <i class="material-icons">star_border</i>
                    <i class="material-icons">star_border</i>                    
                <% end %>
            </div>
        </div>
    </div>
                <a class="blue waves-light btn" style="display:block;text-align:center" href="/bookings/<%= @creator.id %>"><i class="material-icons left">insert_comment</i>Your booked events</a>
</div>


</div>

<%# Main Card %>
<div class="col s12 m8">
<div class="card hoverable">
    <div class="card-action blue lighten-1 white-text">
        <h5 style="text-align:center">Your Bids</h5>
    </div>
    <div class="card-panel" style="overflow:scroll">
        <table border=1 class='highlight'>
        <thead>
            <tr>
                <td><b>Event</b></td>
                <td><b>Host</b></td>
                <td><b>Location</b></td>
                <td><b>Budget</b></td>
                <td><b>Status</b></td>
            </tr>
        </thead>
        <tbody>
            <% @bids.each do |bid| %>
                <tr>
                    <td><%= bid.event.event %></td>
                    <td><a href="/users/<%= bid.event.user.id %>"><%= bid.event.user.first_name %> <%= bid.event.user.last_name %></a></td>
                    <td><%= bid.event.location %></td>
                    <td><%= bid.event.price %></td>

                    <% if @bookings.where(bid_id:bid).any? %>
                        <td>Accepted <i class="tiny material-icons">checkmark</i></td>
                    <% else %>
                        <td>Pending</td>
                    <% end %>
                <% end %>
               </tr>
        </tbody>
        </table><br><br>

</div>


<%# When a User views a Photographer %>
<% else %>

<div class="row" style="margin-top:5%">
          
    <div class="col s12 m4">
        <div class="card red lighten-2 hoverable">
            <div class="card-content white-text">
                <span class="card-title activator"><%= @creator.first_name %> <%= @creator.last_name %><a><i class="material-icons right">more_vert</i></a>
                </span>
                <h6>
                    <% if @reviews.length == 0 %>
                        No ratings yet
                    <% elsif @reviews.average(:rating) == 5 %>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                    <% elsif @reviews.average(:rating) == 4.5 %>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">half_star</i>
                    <% elsif @reviews.average(:rating) == 4 %>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>            
                        <i class="material-icons">star_border</i>     
                    <% elsif @reviews.average(:rating) == 3.5 %>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star_half</i>       
                        <i class="material-icons">star_border</i>     
                    <% elsif @reviews.average(:rating) == 3 %>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star_border</i>     
                        <i class="material-icons">star_border</i>     
                    <% elsif @reviews.average(:rating) == 2.5 %>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star_half</i>
                        <i class="material-icons">star_border</i>     
                        <i class="material-icons">star_border</i>                    
                    <% elsif @reviews.average(:rating) == 2 %>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star_border</i> 
                        <i class="material-icons">star_border</i> 
                        <i class="material-icons">star_border</i>                    
                    <% elsif @reviews.average(:rating) == 1.5 %>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star_half</i>
                        <i class="material-icons">star_border</i> 
                        <i class="material-icons">star_border</i> 
                        <i class="material-icons">star_border</i>                    
                    <% elsif @reviews.average(:rating) == 1 %>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star_border</i> 
                        <i class="material-icons">star_border</i> 
                        <i class="material-icons">star_border</i>     
                        <i class="material-icons">star_border</i>                    
                    <% elsif @reviews.average(:rating) == 0.5 %>
                        <i class="material-icons">star_half</i>
                        <i class="material-icons">star_border</i> 
                        <i class="material-icons">star_border</i> 
                        <i class="material-icons">star_border</i>     
                        <i class="material-icons">star_border</i>                    
                    <% elsif @reviews.average(:rating) == 0.0 %>
                        <i class="material-icons">star_border</i> 
                        <i class="material-icons">star_border</i> 
                        <i class="material-icons">star_border</i> 
                        <i class="material-icons">star_border</i>     
                        <i class="material-icons">star_border</i>                    
                    <% end %>
                </h6><br>
                <p><i>Member since <%= @creator.created_at.strftime('%B %e, %Y') %></i></p><br>
                <p>Location: <%= @creator.location %></p><br>
                <p>
                <% if @booking.exists? %>
                <a class="waves-light btn" href='/reviews/<%=@creator.id%>/new'><i class="material-icons left">cloud</i>Leave a review</a>
                <% else %>
                You cannot leave a review
                <% end %>
                </p>
            </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">About <%=@creator.first_name%><i class="material-icons right">close</i></span>
            <p><%= @creator.info %></p>
        </div>
    </div>
</div>

<div class="col s12 m8">
<div class="card hoverable">
    <div class="card-action blue lighten-1 white-text">
        <h5 style="text-align:center"><%= @creator.first_name %>'s Reviews (<%= @reviews.length %>)</h5>
    </div>
    <div class="card-panel" style="overflow:scroll" style="height:100px">
    <% if @reviews.length == 0 %>
    <i><%= @creator.first_name %> doesn't have any reviews yet.</i>

    <% else %>
        <% @reviews.each do |review| %>
            <p><%= review.created_at.strftime('%B %e, %Y at %I:%M %p') %>
                <span style="float:right; text-align:right">
                <% if review.user_id == session[:user_id] %>
                    <a href="#" class="collection-item"><span class="badge"></span>Edit</a> |
                    <a href="#" class="collection-item"><span class="badge"></span>Delete</a>
                <% end %>
                </span></p>
            <h6><%= review.written_by %> says: </h6>
            <p><i><%= review.content %></i></p>
            <p>
                <% if review.rating == 5 %>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                <% elsif review.rating == 4.5 %>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">half_star</i>
                <% elsif review.rating == 4 %>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>                
                    <i class="material-icons">star_border</i>                    
                <% elsif review.rating == 3.5 %>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star_half</i>           
                    <i class="material-icons">star_border</i>                    
                <% elsif review.rating == 3 %>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star_border</i>         
                    <i class="material-icons">star_border</i>                    
                <% elsif review.rating == 2.5 %>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star_half</i>
                    <i class="material-icons">star_border</i>         
                    <i class="material-icons">star_border</i>                    
                <% elsif review.rating == 2 %>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star_border</i> 
                    <i class="material-icons">star_border</i>         
                    <i class="material-icons">star_border</i>                    
                <% elsif review.rating == 1.5 %>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star_half</i>
                    <i class="material-icons">star_border</i> 
                    <i class="material-icons">star_border</i>         
                    <i class="material-icons">star_border</i>                    
                <% elsif review.rating == 1 %>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star_border</i> 
                    <i class="material-icons">star_border</i> 
                    <i class="material-icons">star_border</i>         
                    <i class="material-icons">star_border</i>                    
                <% elsif review.rating == 0.5 %>
                    <i class="material-icons">star_half</i>
                    <i class="material-icons">star_border</i> 
                    <i class="material-icons">star_border</i> 
                    <i class="material-icons">star_border</i>         
                    <i class="material-icons">star_border</i>                    
                <% elsif review.rating == 0.0 %>
                    <i class="material-icons">star_border</i> 
                    <i class="material-icons">star_border</i> 
                    <i class="material-icons">star_border</i> 
                    <i class="material-icons">star_border</i>         
                    <i class="material-icons">star_border</i>                    
                <% end %>
            </p>
            <hr>
        <% end %>
    <% end %>
    </div>
</div>
</div>
</div>

<% end %>

</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>




</div>
</body>
</html>