<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/css/materialize.min.css">
  <%= javascript_include_tag "http://code.jquery.com/jquery-2.1.2.min.js" %>

  <%= javascript_include_tag 'http://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js' %>
<script>
$(document).ready(function(){
  $('#textarea1').val('');
  M.textareaAutoResize($('#textarea1'));
});

</script>

<style>
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0;}

/****** Style Star Rating Widget *****/

.rating { 
  border:none;
  width:59%;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 3em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 

</style>
</head>
<body>

<div class='container'>

  <div class="row" style="margin-top:5%">
    <div class="col s12 m12">
      <div class="card hoverable">
        
        <% if current_user.type === "Creator" %>
          <div class="card-action blue lighten-1 white-text">
            <h5 style="text-align:center">Write a review for <%= @user.first_name %> <%= @user.last_name %></h5>
          </div>
          <div class="card-content">
            <form action="/reviews/<%= @user.id %>/create" method='POST'>
        <% else %>
          <div class="card-action blue lighten-1 white-text">
            <h5 style="text-align:center">Write a review for <%= @creator.first_name %> <%= @creator.last_name %></h5>
          </div>
          <div class="card-content">
            <form action="/reviews/<%= @creator.id %>/create" method='POST'>
        <% end %>

          <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">mode_edit</i>
              <textarea id="textarea1" class="materialize-textarea" name="content"></textarea>
            <% if current_user.type === "Creator" %>
                  <label for="textarea1">How was your experience with <%= @user.first_name %>?</label>
            <% else %>
                  <label for="textarea1">How was your experience with <%= @creator.first_name %>?</label>
            <% end %>
            </div>

        <div class="row">
        <h6 style="text-align:center">Rate</h6>
          <fieldset class="rating" style="text-align:center">
            <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>

            <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>

            <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>

            <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>

            <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>

            <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>

            <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>

            <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>

            <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>

            <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
          </fieldset>
          </div><br><br>
          <button class="btn-medium waves-effect blue waves-light btn" type="submit" name="action">Submit<i class="material-icons right">send</i></button>  
        </form>
        </div>
      </div>
    </div>
  </div>
  
</div>

<script>
  $(':radio').change(function() {
  puts('New star rating: ' + this.value);
  });
</script>
</body>
</html>