<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/css/materialize.min.css">
<%= javascript_include_tag "http://code.jquery.com/jquery-2.1.2.min.js" %>

<%= javascript_include_tag 'http://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js' %>


<style>
</style>
</head>
<body>

<div class='container'>

<div class="col s12 m8">
<div class="card hoverable" style="margin: 5% 0 5% 0">
    <div class="card-action blue lighten-1 white-text">
        <h5 style="text-align:center">Reviews About You</h5>
    </div>
    <div class="card-panel" style="overflow:scroll">

<% if current_user = session[:user_id] %>

    <h6>You Have <%= @reviews.count %> Reviews</h6><br>

    <div class="reviews">
        <% @reviews.each do |review| %>
            <h6><%= review.written_by %> says: </h6>
            <p><%= review.created_at.strftime('%B %e, %Y at %I:%M %p') %></p>
            <p><i><%= review.content %></i></p>
            <hr>
        <% end %>
    </div>

<% elsif current_user = session[:creator_id] %>

    <h6>You Have <%= @reviews.count %> Reviews</h6><br>

    <div class="reviews">
        <% @reviews.each do |review| %>
            <h6><%= review.written_by %> says: </h6>
            <p><%= review.created_at.strftime('%B %e, %Y at %I:%M %p') %></p>
            <p><i><%= review.content %></i></p>
            <hr>
        <% end %>
    </div>

<% else %>

    <h3> <%= @user.first_name %> <%= @user.last_name %>'s Reviews</h3>

    <h6> <%= @user.first_name %> has <%= @reviews.count %> reviews</h6>

<% end %>

</div>
</div>
</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

<script>
$(document).ready(function(){
    $('select').material_select();
});

  $(document).ready(function(){
    $('.modal').modal();
  });
        

</script>
</body>
</html>