            <h6>Rate</h6>
              <p>
                <label>
                  <input name="rating" value='1'type="radio" checked />
                  <span><i class="material-icons prefix">star_border</i></span>
                </label>
              </p>
              <p>
              <label>
                <input name="rating" value='2' type="radio" checked />
                <span><i class="material-icons prefix">star_border</i><i class="material-icons prefix">star_border</i></span>
              </label>
            </p>
              <p>
              <label>
                <input name="rating" value='3' type="radio" checked />
                <span><i class="material-icons prefix">star_border</i><i class="material-icons prefix">star_border</i><i class="material-icons prefix">star_border</i></span>
              </label>
            </p>
              <p>
              <label>
                <input name="rating" value='4' type="radio" checked />
                <span><i class="material-icons prefix">star_border</i><i class="material-icons prefix">star_border</i><i class="material-icons prefix">star_border</i><i class="material-icons prefix">star_border</i></span>
              </label>
            </p>
              <p>
              <label>
                <input name="rating" value='5' type="radio" checked />
                <span><i class="material-icons prefix">star_border</i><i class="material-icons prefix">star_border</i><i class="material-icons prefix">star_border</i><i class="material-icons prefix">star_border</i><i class="material-icons prefix">star_border</i></span>
              </label>
            </p><br>
            <button class="btn-medium waves-effect blue waves-light btn" type="submit" name="action">Submit<i class="material-icons right">send</i></button>    
          </form>
        </div>
      </div>
    </div>
  </div>
  
</div>

<script>
$(document).ready(function(){
  $('#textarea1').val('');
  M.textareaAutoResize($('#textarea1'));
});
</script>
</body>
</html>