<!DOCTYPE html>
<html>
<head>
<title>Frame</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
<script>
$(document).ready(function() {

    $('.tooltipped').tooltip(
      outDuration: 0;
    });

});

</script>
<style>
* {
  font-family: 'Comfortaa', cursive;
}

main { 
    background-image: url("");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
  height: 150px;
}

.logged_in {
  font-size:10px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  background-image: url ();
  background-repeat: no-repeat;
  background-size: 100%;
}

.page-footer .fa-2x {
margin: 5px 10px;
}

#flash_messages_div {
  position: absolute;
  top: -80%;
  margin: auto;
  height: 7%;
  width: 30%;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 999;
  background: #19ad9fd4;
}

.flash_message{
  padding: 1.75rem 0;
  text-align: center;
  margin: 0;
  font-size: 1.25rem;
  font-weight: 700;
  color: #FFFFFF;
  letter-spacing: 1px;
}

</style>
</head>
<body>
  <% if flash[:messages] %>
<div id="flash_messages_div">
    <% flash[:messages].each do |m| %>
        <p class="flash_message"> <%= m %> </p>
    <% end %>
  <% end %>
</div>

<% if session[:user_id] or session[:creator_id] %>
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="/sessions/destroy/<%= current_user.id %>" data-method='delete' style="font-size:12px">Logout</a></li>
    <li><a href="#!" style="font-size:12px">Edit Profile</a></li>
    <li class="divider"></li>
  </ul>

    <% if current_user.type == "Creator" %>
      <ul id="dropdown2" class="dropdown-content">
        <li><a href="/creators/browse/" style="font-size:12px">Find Jobs</a></li>
        <li class="divider"></li>
      </ul>
    <% else %>
      <ul id="dropdown2" class="dropdown-content">
        <li><a href="/users/browse/" style="font-size:12px">Find a Photographer</a></li>
        <li class="divider"></li>
      </ul>
    <% end %>


<div class='navbar-fixed'>
  <nav class='blue'>
      <div class='container'>
          <div class='nav-wrapper'>
              <a href='/' class='brand-logo'>Frame</a>
              <a href='#' data-target='mobile-nav' class='sidenav-trigger'>
                  <i class='material-icons'>menu</i>
                  </a>
                  <ul class='right hide-on-med-and-down'>
                    <li style="float:right; margin-left:5px"><i class="tiny material-icons" style="font-size:12px; vertical-align:top; color:#45E91C">brightness_1</i></li>  
                    <li style="float:right; margin-bottom:0px"><%= current_user.first_name %></li>
                    <li>     
                      <% if current_user.type == "Creator" %>

                          <a href='/creators/<%= current_user.id %>'><i class="material-icons settings">home</i></a></li>
                          <li><a class="tooltipped" data-position="bottom" data-tooltip="Browse Jobs" href='/creators/browse'><i class="material-icons settings">search</i></a></li>
                          <li><a class="tooltipped" data-position="bottom" data-tooltip="Edit Profile" href="/creators/<%= current_user.id%>/edit" data-target="dropdown1"><i class="material-icons settings">settings</i></a></li>

                      <% else %>

                          <a class="tooltipped" data-position="bottom" data-tooltip="Home" href='/users/<%= current_user.id %>'><i class="material-icons settings">home</i></a></li>
                          <li><a class="tooltipped" data-position="bottom" data-tooltip="Find a Photographer" href='/users/browse'><i class="material-icons settings">search</i></a></li>
                          <li><a class="tooltipped" data-position="bottom" data-tooltip="Edit Profile" href="/users/<%= current_user.id %>/edit"><i class="material-icons settings">settings</i></a></li>

                      <% end %>

                        <li><a class="tooltipped" data-position="bottom" data-tooltip="Logout" href="/sessions/destroy/<%= current_user.id %>" data-method='delete'><i class="material-icons settings">person</i></a></li>
                  </ul>
          </div>
      </div>
  </nav>
</div>

<% else %>

<div class='navbar'>
    <nav class ='blue'>
        <div class='container'>
            <div class='nav-wrapper'>
                <a href='/' class='brand-logo'>Frame</a>
                <a href='#' data-target='mobile-nav' class='sidenav-trigger'>
                    <i class='material-icons'>menu</i></a>
                    <ul class='right hide-on-med-and-down'>
                        <li><a href='#login'>Login</a></li>
                        <li><a href='#login'>Sign Up</a></li>
                    </ul>
            </div>
        </div>
    </nav>
</div>

<% end %>

<ul class='sidenav' id='mobile-nav'>
<li><a href='/'>Home</a></li>
<li><a href='#Dashboard'>Browse</a></li>
<li><a href='#Profile'>Profile</a></li>
</ul>
<header></header>

<main>

<%= yield %>

</main>

<footer class="page-footer blue center">
  <div class="container">
    <div class="row">
     <div class="col s12">
        <h5>Follow Frame</h5>
        <a href="#" class="white-text">
          <i class="fab fa-facebook fa-2x"></i>
        </a>
        <a href="#" class="white-text">
          <i class="fab fa-instagram fa-2x"></i>
        </a>
        <a href="#" class="white-text">
          <i class="fab fa-twitter fa-2x"></i>
        </a>
        <a href="#" class="white-text">
          <i class="fab fa-linkedin fa-2x"></i>
        </a>
      </div>
    </div>
  </div>
</footer>

<script>

$(document).ready(function() {
    setTimeout(function(){
      $('#flash_messages_div').fadeOut(1000, function() {
        $this.remove();
      })
    }, 2000);
});

M.AutoInit();
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js">
</script>

</body>
</html>